@use "../../../../../assets/styles/variables" as *;

.blog-card {
  position: relative;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: 350px;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 15px; // Add rounded corners
  overflow: hidden; // Ensures child elements like images respect the border-radius
  background-color: white; // Ensure a consistent background for the card
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); // Subtle shadow

  @media (max-width: 400px) {
    width: 80%;
    margin: 1%;
  }

  // Hover effect
  &:hover, &:active, &:focus {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  }

  .blog-card-title {
    padding: 15px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    font-size: 20px;
    font-weight: 600;
    color: $primary-color;
  }

  .blog-card-img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }

  mat-card-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  mat-card-subtitle {
    font-size: 14px;
    color: gray;
    display: flex;
    align-items: center;
    gap: 5px;

    mat-icon {
      color: #6c757d;
    }
  }

  mat-card-content {
    padding: 15px;
    font-size: 14px;
    color: #555;

    div {
      display: flex;
      gap: 15px;
      align-items: center;
      font-size: 16px;

      i {
        color: $primary-color;
      }
    }
  }

  mat-card-actions {
    padding: 15px;
    display: flex;
    justify-content: flex-end;

  }
}
