<mat-sidenav-container class="sidenav-container">
  <!-- Sidenav for Mobile (Positioned on the Left) -->
  <mat-sidenav
    #sidenav
    mode="over"
    position="start"
    class="sidenav"
    (closed)="onSidenavClosed()"
  >
    <mat-nav-list>
      <!-- Welcome User Greeting -->
      <ng-container *ngIf="isAuthenticated">
        <div class="user-greeting">
          <mat-icon>account_circle</mat-icon>
          <span>{{ 'HEADER.WELCOME_USER' | translate }}, {{ userEmail }}</span>
        </div>
      </ng-container>

      <!-- Navigation Links -->
      <a routerLink="/" (click)="closeSidenav()">
        <mat-icon>home</mat-icon>
        {{'HEADER.HOME' | translate}}
      </a>
      <ng-container *ngIf="isAuthenticated">
        <a routerLink="/add-blog" (click)="closeSidenav()">
          <mat-icon>add_circle</mat-icon>
          {{'HEADER.ADD_BLOG' | translate}}
        </a>
      </ng-container>
      <ng-container *ngIf="isAuthenticated; else guestLinks">
        <a (click)="logout()">
          <mat-icon>logout</mat-icon>
          {{'HEADER.LOGOUT' | translate}}
        </a>
      </ng-container>
      <ng-template #guestLinks>
        <a (click)="login()">
          <mat-icon>login</mat-icon>
          {{'HEADER.LOGIN' | translate}}
        </a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z4">
      <!-- Menu Button for Mobile -->
      <button
        mat-icon-button
        aria-label="Menu"
        *ngIf="isMobile"
        (click)="toggleSidenav()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <!-- Logo -->
      <span class="logo">
        <a routerLink="/">IN305-Blog</a>
      </span>

      <span class="spacer"></span>

      <!-- Navigation Links for Desktop -->
      <div class="nav-links" *ngIf="!isMobile">
        <ng-container *ngIf="isAuthenticated">
          <span class="user-greeting">
            <mat-icon>account_circle</mat-icon>
            {{ 'HEADER.WELCOME_USER' | translate }}, {{ userEmail }}
          </span>
        </ng-container>
        <a routerLink="/" routerLinkActive="active">
          <mat-icon>home</mat-icon>
          {{ 'HEADER.HOME' | translate }}
        </a>
        <ng-container *ngIf="isAuthenticated">
          <a routerLink="/add-blog" routerLinkActive="active">
            <mat-icon>add_circle</mat-icon>
            {{ 'HEADER.ADD_BLOG' | translate }}
          </a>
        </ng-container>
        <ng-container *ngIf="isAuthenticated; else desktopGuestLinks">
          <button mat-button (click)="logout()">
            <mat-icon>logout</mat-icon>
            {{ 'HEADER.LOGOUT' | translate }}
          </button>
        </ng-container>
        <ng-template #desktopGuestLinks>
          <button mat-button (click)="login()">
            <mat-icon>login</mat-icon>
            {{ 'HEADER.LOGIN' | translate }}
          </button>
        </ng-template>
      </div>
    </mat-toolbar>

    <!-- Router Content -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
