<div class="container" *ngIf="blogEntries && blogEntries.length > 0; else noEntries">
  <div class="row flex-wrap blog-card-list-row" style="display: flex; flex-wrap: wrap">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let entry of blogEntries">
      <app-blog-card [blogEntry]="entry"></app-blog-card>
    </div>
  </div>
</div>

<ng-template #noEntries>
  <div class="no-entries-container text-center">
    <img src="assets/images/no_data.jpg" alt="No blog entries" class="no-entries-image" />
    <p>No blog entries available.</p>
  </div>
</ng-template>
