@import "../../../../assets/styles/variables.scss";

.blog-card {
  position: relative;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin: 10px;
  width: 400px;

  // Hover effect
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    background-color: #f8f9fa; // Light background on hover
  }

  .blog-card-title {
    padding: 15px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 370px;
    font-size: 20px;
    color: #715059;
  }

  .blog-card-img {
    object-fit: cover;
    height: 300px;
  }
}
