.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;

  .content, .logged-in-container {
    text-align: center;
    background: white;
    padding: 20px;
    width: 100%;
    border-radius: 10px;

    .login-image {
      width: 100%;
      max-width: 625px;
      margin-bottom: 20px;
    }

    p {
      margin: 20px 0;
      font-size: 18px;
      color: #333;
    }

    .button-container {
      display: flex;
      justify-content: center;
      gap: 15px;

      button {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;

        mat-icon {
          font-size: 18px;
        }

        &:first-child {
          background-color: darkred;
          color: white;

          &:hover {
            background-color: #b30000;
          }
        }

        &:last-child {
          background-color: white;
          color: darkred;
          border: 1px solid darkred;

          &:hover {
            background-color: darkred;
            color: white;
          }
        }
      }
    }
  }

  .login-btn {
    font-size: 16px;
    padding: 10px 20px;
    background-color: darkred;
    color: white;
    border-radius: 5px;

    &:hover {
      background-color: #b30000;
    }
  }
}
