<div class="login-page-container">
  <div class="content" *ngIf="!isLoggedIn(); else loggedInTemplate">

    <div class="logged-in-container">
      <img src="assets/images/login.svg" alt="Login Illustration" class="login-image" />
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="login()" class="login-btn">
          Login
        </button>
      </div>
    </div>

  </div>

  <ng-template #loggedInTemplate>
    <div class="logged-in-container">
      <img src="assets/images/user-logged-in.svg" alt="Logged In Illustration" class="login-image" />
      <p>You are already logged in. What would you like to do?</p>
      <div class="button-container">
        <button mat-raised-button color="accent" class="login-btn" (click)="logout()">
          <mat-icon>logout</mat-icon> Logout
        </button>
        <button mat-raised-button color="primary" class="login-btn" (click)="goToHome()">
          <mat-icon>arrow_back</mat-icon> Back to Home
        </button>
      </div>
    </div>
  </ng-template>
</div>
