<div class="blog-detail" *ngIf="!loading">
  <mat-card class="blog-detail-card">
    <mat-card-header>
      <mat-card-title class="blog-title">{{ blog()?.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="meta-info">
        <span><mat-icon>person</mat-icon> {{ blog()?.author }}</span>
        <span><mat-icon>calendar_today</mat-icon> {{ blog()?.createdAt | date }}</span>
      </div>
      <hr class="divider" />
      <div class="content">
        <p>{{ blog()?.content }}</p>
      </div>
      <hr class="divider" />
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="goBack()">
        Back to Overview
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="loading" class="loading">Loading...</div>
<div *ngIf="error()" class="error">{{ error() }}</div>
