@import '../../../../../assets/styles/variables.scss';

.blog-detail {
  margin: 20px auto;
  padding: 20px;
  height: 100vh;

  .blog-detail-card {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .blog-title {
      font-size: 24px;
      font-weight: bold;
      color: $primary-color;
      margin-bottom: 10px;
    }

    .divider {
      border: none;
      border-top: 2px solid #ddd;
    }

    .meta-info {
      display: flex;
      gap: 15px;
      font-size: 14px;
      color: $secondary-color;
      margin-bottom: 25px;

      span {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      mat-icon {
        font-size: 20px;
        margin-right: 5px;
        color: $secondary-color;
      }
    }

    .content {
      margin-top: 25px;
      margin-bottom: 25px;
      font-size: 16px;
      line-height: 1.6;
      color: #333;
    }

    mat-card-actions {
      display: flex;
      justify-content: flex-start;
      margin-top: 10px;
      margin-bottom: 10px;

    }
  }

  .loading {
    text-align: center;
    font-size: 18px;
    color: $primary-color;
  }

  .error {
    text-align: center;
    font-size: 16px;
    color: red;
    margin-top: 20px;
  }
}
