<div class="blog-list-container">
<h1>{{'BLOG_LIST.TITLE' | translate}}</h1>
<div *ngIf="blogState.isLoading(); else content" class="loading-spinner">
  <img class="loading-gif" src="../../../../../assets/images/loading_animation.gif" alt="Loading...">
</div>
</div>
<ng-template #content>
  <div class="container" *ngIf="blogSignals() && blogSignals().length > 0; else noEntries">
    <div class="row flex-wrap blog-card-list-row" style="display: flex; flex-wrap: wrap">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let entrySignal of blogSignals()">
        <app-blog-card
          [blogEntry]="entrySignal"
          [selectedBlogId]="blogState.selectedBlogId">
        </app-blog-card>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noEntries>
  <div class="no-entries-container text-center">
    <img src="../../../../../assets/images/no_data.jpg" alt="No blog entries" class="no-entries-image" />
    <p>{{'BLOG_LIST.NO_ENTRIES' | translate}}</p>
  </div>
</ng-template>
