<div class="todo-app">
  <h1>{{ title }}</h1>

  <mat-form-field>
    <mat-label>Neue Aufgabe</mat-label>
    <input matInput [(ngModel)]="newTodo" (keyup.enter)="addTodo()">
    <button mat-icon-button matSuffix (click)="addTodo()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-form-field>

  <div *ngFor="let todo of todos; let i = index">
    <mat-checkbox [checked]="todo.completed" (change)="toggleTodoCompletion(todo)">{{ todo.text }}</mat-checkbox>
    <button mat-button (click)="removeTodo(i)">Löschen</button>
  </div>

  <div *ngIf="todos.length === 0">Keine Aufgaben vorhanden!</div>
</div>
