// Color Variables
$primary-color: darkred;        // Indigo
$secondary-color: #374A58;      // Pink
$accent-color: darkred;         // Amber
$background-color: #EBEFF2;      // Light Gray
$card-background-color: #FFFFFF; // White
$text-color: #212121;           // Dark Gray
$link-color: $primary-color;    // Use primary color for links
$hover-color: #FD746C;  // Use secondary color for hover effects
